.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

#confirmation{
    display: none;
}

.react-data-table-header {
  display: flex;
}

/*List selectors*/

.list-header{
    display: flex;
justify-content: space-between;
width: 65%;
align-items: center;
margin: 15px;
}

.list-browse{
        display: flex;
justify-content: space-between;
width: 65%;
align-items: center;
margin: 15px;
}


@media screen and (max-width: 900px) {

.list-header{
flex-direction: column;
}

}